.idea/
venv/
library/
logs/

# ignoring user config
config/user.env

# build
__pycache__/

# database
database.db

# test data
tests/test_app/assets/test_database.db

# test coverage
.coverage
coverage.xml
