.idea/
venv/

# ignoring all but default config
config/**
!config/default

db_backups/

# build
dist/
build/
__pycache__/
main.spec
main.exe
figure_drawing_trainer.spec
figure_drawing_trainer.exe
web_server.spec
web_server.exe
