<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/gallery.css">
    <title>{{ title }}</title>
</head>
<body>
<div id="page-extra" style="display:none;" data-extra="{{ extra|default('') }}"></div>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a><h1>{{ title }}</h1>
    <p>[{{ overview.study_type|default('') }}]</p><p>{{ overview.path_dir|default('') }}</p>
</div>
{{ paging|default('') }}
<div class="gallery">
</div>
{{ paging|default('') }}
<div style="height: 20px;"></div>

<div class="top-menu">
    <button id="fld-cover" class=" btn-bg-blend">Cover</button>
    <button id="fld_hide" class="btn-bg-blend">Hide</button>
    <button id="fld_ord_up" class="btn-bg-blend">OrdUp</button>
    <button id="fld_ord_dn" class="btn-bg-blend">OrdDn</button>
    <button id="rate-up" class="rate-up btn-bg-blend" value="1"></button>
    <button id="rate-dn" class="rate-dn btn-bg-blend" value="-1"></button>
    <button id="board-show-btn" class="btn-bg-blend">Board</button>
    <button id="tags-show-btn" class="btn-bg-blend">Show tags</button>
    <button id="tags-filter-btn" class="btn-bg-blend">Filter tags</button>
    <button id="tags-editor-btn" class="btn-bg-blend">Edit tags</button>
    <button id="toggle-selection-mode-btn" class="btn-bg-blend">Select <span id="sel-count"></span></button>
</div>

<div id="tpl-thumbnail" class="thumbnail hidden" title="{#{{ image.filename }}#}" data-id="{#{{ image.image_id }}#}" data-fn="{#{{ image.filename }}#}" data-rt="{#{{ image.rating }}#}">
    <a href="{#/study-image/{{ image.image_id }}?same-folder=true&time-planned=120&tags=&tag-set=#}">
        <img src="" class="thumb thumb-hidden" data-src="{#/thumb/{{ image.image_id }}.jpg#}" alt="{#{{ image.image_id }}#}">
        <div class="overlay hidden">
            <span class="recent-tags"></span><span class="tags-list" data-recent=""></span>
        </div>
        <div class="play hidden"></div>
    </a>
</div>

<script  id="images-default-sort" type="application/json">
    {"sort": "{{ d_sort|default('imported_at') }}" }
</script>

<script  id="images-data" type="application/json">
    {{ images|safe }}
</script>

<script type="importmap">
    {
        "imports":
        {
            "image_tools/": "/static/js/image_tools/",
            "api": "/static/js/api.js"
        }
    }
</script>
<script type="module" src="/static/js/view_folder.js">
</script>
</body>
</html>