<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/overview.css">
    <title>Ref Buddy</title>
</head>
<body>
<header class="ov-header">
    <h1>Ref Buddy</h1>
    <nav class="main-menu main-menu-flex">
        <ul>
            <li><a href="/all?page=1&tags=&tag-set=all" class="no-decor but-decor-hover">All</a></li>
            <li><a href="/favs?page=1" class="no-decor but-decor-hover">Favourites</a></li>
            <li><a href="/latest_study?page=1" class="no-decor but-decor-hover">Last study</a></li>
            <li><a href="/tags" class="no-decor but-decor-hover">Tags</a></li>
            <li><a href="/tag-sets" class="no-decor but-decor-hover">Sets</a></li>
            <li><a href="/path-tags" class="no-decor but-decor-hover">Paths</a></li>
            <li><a href="/palettes" class="no-decor but-decor-hover">Pallets</a></li>
            <li><a href="/boards" class="no-decor but-decor-hover">Boards</a></li>
        </ul>
    </nav>
</header>
<ul class="secondary-menu secondary-menu-flex">
</ul>

<main class="container">
</main>

<template id="tile-header">
    <h2>{{ 'academic' }}</h2>
    <div class="sep"></div>
</template>
<template id="menu-anchor">
    <li><a href=""></a></li>
</template>
<template id="tile-section">
    <section class="tiles-container">
    </section>
</template>
<template id="tile">
    <div class="tile">
        <div class="thumb-bg" data-src="/thumb/{{ 1 }}.jpg"></div>
        <a href="/folder/{{ 1 }}" target="_blank"></a>
        <div class="overlay overlay-flex">
            <h3 class="long-text-break"></h3>
        </div>
    </div>
</template>

<script type="importmap">
    {
        "imports":
        {
            "image_tools/": "/static/js/image_tools/",
            "api": "/static/js/api.js"
        }
    }
</script>
<script type="module" src="/static/js/view_index.js">
</script>
</body>
</html>