:root {
    --clr-row-odd: #706c6c;
    --clr-row-even: #7a7676;
    --clr-row-hover: #8d8989;
    --clr-text: black;
    --z-thead: 10;
}

.container {
}
.container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    margin: 10px;
    position: relative;
}

.list tr:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: var(--z-thead);
}
.list tr:first-child th {
    padding: 5px;
}
.list td {
    padding: 0 5px;
}

.list td:first-child,
.list td:last-child {
    opacity: 0.4;
}
.list tr:hover td:first-child,
.list tr:hover td:last-child {
    opacity: 1;
}
.list td:last-child {
    font-size: 1.1em;
}
.list td:last-child > * {
    padding: 0 2px;
}

.list td:nth-child(3) {
    text-align: center;
}
.list tr:nth-child(odd) {
    background-color: var(--clr-row-odd);
}
.list tr:nth-child(even) {
    background-color: var(--clr-row-even);
}
.list tr:hover {
    background-color: var(--clr-row-hover);
}

.list .edit {
    color: var(--clr-text);
}
.list .edit,
.list .edit:active,
.list .edit:visited {
    text-decoration: none;
}

.list .del {
    background: none;
    border: none;
}

.list .edit:hover,
.list .del:hover {
   text-decoration: underline;
    cursor: pointer;
}