<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/global.css">
    <title>Tag edit</title>
</head>
<body>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/tags">&lt;</a>
    <h1>Edit tag</h1>
</div>
<form method="POST" action="/tags/edit/{{ tag.id }}">
    <label for="tag">Tag:</label>
    <input type="text" id="tag" name="tag" value="{{ tag.tag }}" required>
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="{{ tag.color_id }}" required>
    <br>
    <input type="submit" value="Update Tag">
</form>
</body>
</html>