<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <title>Tag edit</title>
</head>
<body>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/tags">&lt;</a>
    <h1>Edit tag</h1>
</div>
<form method="POST" action="/tags/edit/{{ tag.id }}">
    <label for="tag">Tag:</label>
    <input type="text" id="tag" name="tag" value="{{ tag.tag }}" required>
    <label for="color">Color:</label>
    <select name="color" id="color">
        <option value="1">None</option>
        {% for c in colors %}
            <option value="{{ c.id }}" style="color:{{ c.hex }}">{{ c.color_name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Update Tag">
</form>
</body>
</html>