<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/crud.css">
    <title>Tags list</title>
</head>
<body>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a>
    <h1>Tags</h1>
</div>

<a href="/tags/add">Add Tag</a>
<table class="list">
    <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Color</th>
        <th>Actions</th>
    </tr>
    {% for tag in tags %}
        <tr>
            <td class="dimmed" style="color: {{ tag.hex }}">{{ tag.id }}</td>
            <td style="color: {{ tag.hex }}">{{ tag.tag }}</td>
            <td class="dimmed" style="color: {{ tag.hex }}">{{ tag.color_id }}</td>
            <td>
                <a class="edit" href="/tags/edit/{{ tag.id }}">Edit</a>
                <form method="POST" action="/tags/delete/{{ tag.id }}" style="display: inline;">
                    <input class="del" type="submit" value="x" onclick="return confirmDelete('{{ tag.tag }}');">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>


<script>
    function confirmDelete(tag) {
        return confirm(`Delete tag '${tag}'?`);
    }
</script>
</body>
</html>