<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/crud.css">
    <title>Tags list</title>
</head>
<body>
<header class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a>
    <h1>Tags</h1>
</header>

<main class="container container-flex">
    <a href="/tags/add">+ Add Tag</a>
    <table class="list">
        <tr>
            <th>ID</th>
            <th>Tag</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td style="color: {{ tag.hex }}">{{ tag.tag }}</td>
                <td style="color: {{ tag.hex }}">{{ tag.color_id }}</td>
                <td>
                    <a class="edit" href="/tags/edit/{{ tag.id }}">✎</a>
                    <form method="POST" action="/tags/delete/{{ tag.id }}" style="display: inline;">
                        <input class="del" type="submit" value="&cross;" onclick="return confirmDelete('{{ tag.tag }}');">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</main>

<script>
    function confirmDelete(tag) {
        return confirm(`Delete tag '${tag}'?`);
    }
</script>
</body>
</html>