body
{
    background-color: #7a7676;
}

.header
{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.header h1, a, p
{
    margin-left: 10px;
}

/* Flex container */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Flex item */
.gallery .thumbnail {
    min-height: 200px;
    min-width: 133px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery .thumb {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.gallery .thumb-hidden {
    opacity: 0.1 !important;
}

.disabled {
  pointer-events: none; /* Disable pointer events on the tile */
}

.selected {
    outline: 4px solid green;
}

.selected::before {
  content: '\2713'; /* Unicode character for checkmark */
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 50%;
}

.select-mode-btn
{
    background-color: green;
}

.no-select {
    user-select: none;
}

.tags-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #918d8d;
    border: 1px black;
    padding: 15px;
}

.tags-popup-background {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.top-menu {
    position: fixed;
    top: 10px;
    right: 10px;
}

@keyframes rotateFav {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-fav {
  animation: rotateFav 2s linear infinite;
}

/* CSS grid for responsive layout */
@media (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}