<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/board.css">
{#    <script type="text/javascript" src="/js/legacy/main.js"></script>#}
{#    <script type="text/javascript" src="/static/js/image_lazy_load.js"></script>#}
{#    <script type="text/javascript" src="/static/js/board_item.js"></script>#}
    <title>{{ board.title }}</title>
</head>
<body>
<div class="hidden" id="board-id">{{ board.id }}</div>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="{{ url_for('routes_board.view_board_all') }}">&lt;</a><h1>{{ board.title }}</h1>
</div>
<div class="board-interact-bg"></div>
<div id="board" class="board">
</div>
<script type="importmap">
    {
        "imports":
        {
            "image_tools/": "/static/js/image_tools/",
            "vendors/": "/static/js/vendors/",
            "api": "/static/js/api.js"
        }
    }
</script>
<script type="module" src="/static/js/view_board.js">
</script>
</body>
</html>