<div id="tags-filter" class="tags-popup" style="display: none;">
    <h3>Tags (<span id="images-count"></span> images selected)</h3>
    <div id="tagList" class="tag-container">
        {% for t in tags %}
            <div class="tag-filter" data-tag="{{ t.tag }}" data-tag-id="{{ t.id }}" data-state="0" style="color:{{ t.hex }}">{{ t.tag }}</div>
        {% endfor %}
    </div>
    <button id="tags-filter-apply">Apply</button>
    <button id="tags-filter-close">Close</button>
</div>

<script>
    let selectedPanelTags = []

    document.addEventListener('DOMContentLoaded', function()
    {
        fixUrl()
        initTags()

        document.getElementById('tags-filter-apply').addEventListener('click', applyFilterTag)
        document.getElementById('tags-filter-close').addEventListener('click', closeTagsFilterPopup)
        document.querySelector('.tags-popup-background').addEventListener('click', closeTagsFilterPopup)
    }, false)

    function applyFilterTag()
    {
        window.location.reload()
    }

    function toggleTagsFilterDisplay()
    {
        const popup = document.getElementById('tags-filter')
        if (popup.style.display === 'none')
        {
            document.getElementById('tags-filter').style.display = 'block'
            document.querySelector('.tags-popup-background').style.display = 'block'
            {#document.getElementById('images-count').textContent = '' + selection.selectedIds.length#}
        }
        else
        {
            closeTagsFilterPopup()
        }
    }

    function closeTagsFilterPopup()
    {
        document.getElementById('tags-filter').style.display = 'none'
        document.querySelector('.tags-popup-background').style.display = 'none'

        document.getElementById('tags-filter-apply').classList.remove('op-success', 'op-fail', 'loading')
        document.getElementById('tags-filter-close').classList.remove('op-success', 'op-fail', 'loading')
    }

    function fixUrl()
    {
        let url = window.location.href.replace(/#$/, "")
        if (url.indexOf('?') === -1) { url = `${url}?page=1&tags=` }
        window.history.replaceState({}, '', url)
    }

    function initTags()
    {
        let tags = getTagsFromUrl(window.location.href)
        selectedPanelTags = tags

        document.querySelectorAll('.tag-filter').forEach(tagElem =>
        {
            let tag = tagElem.getAttribute('data-tag')

            if (selectedPanelTags.includes(tag)) { updateTagState(tagElem, 1) }
            else if (selectedPanelTags.includes('-' + tag)) { updateTagState(tagElem, 2) }
            else { updateTagState(tagElem, 0) }

            tagElem.addEventListener('click', (e) =>
            {
                cycleTagState(e.currentTarget)
            })

            const attr = tagElem.value
            if (!tags.includes(attr)) { return }
        })
    }

    function updateTagState(tagElem, state)
    {
        tagElem.classList.remove('tag-selected-pos', 'tag-selected-neg')

        if (state === 0)
        {
        }
        else if (state === 1)
        {
            tagElem.classList.add('tag-selected-pos')
        }
        else if (state === 2)
        {
            tagElem.classList.add('tag-selected-neg')
        }

        tagElem.setAttribute('data-state', state)
    }

    function toggleTag(tagElem, state)
    {
        let tag = tagElem.getAttribute('data-tag')

        console.log(`${tag}`)

        console.log(this)
        let full_url = window.location.href
        const pageString = full_url.split('?')[0]
        let ids = getTagsFromUrl(full_url)

        if (state === 0)
        {
            ids.remove(tag)
            ids.remove('-' + tag)
        }
        else if (state === 1)
        {
            ids.push(tag)
            ids.remove('-' + tag)
        }
        else if (state === 2)
        {
            ids.remove(tag)
            ids.push('-' + tag)
        }

        selectedPanelTags = ids

        console.log(`${ids}`)

        const newTagsList = ids.join(',').replace(/^,/, "")
        let queryString = full_url.split('?')[1]
        let params = new URLSearchParams(queryString)
        params.set('tags', encodeURIComponent(newTagsList))
        let newUrl = pageString + '?' + decodeURIComponent(params.toString())
        window.history.replaceState({}, '', newUrl)

        updateTagState(tagElem, state)
    }

    function cycleTagState(tagElem)
    {
        const state = parseInt(tagElem.getAttribute('data-state'))
        const newState = (state + 1) % 3
        toggleTag(tagElem, newState)
    }

    function toggleTag1(event)
    {
        console.log('test')
        const tagId = event.currentTarget.value
        const link = event.currentTarget

        console.log(this)
        let full_url = window.location.href
        const pageString = full_url.split('?')[0]
        let ids = getTagsFromUrl(full_url)

        // Perform the action based on the provided action parameter
        let index = ids.indexOf(tagId)
        // not found, adding
        if (index === -1)
        {
            ids.push(tagId)
            link.classList.add('tag-selected')
        }
        else
        {
            ids.splice(index, 1)
            link.classList.remove('tag-selected')
        }

        selectedPanelTags = ids

        const newTagsList = ids.join(',').replace(/^,/, "")
        let queryString = full_url.split('?')[1]
        let params = new URLSearchParams(queryString)
        params.set('tags', encodeURIComponent(newTagsList))
        let newUrl = pageString + '?' + decodeURIComponent(params.toString())
        window.history.replaceState({}, '', newUrl)
    }

    function getTagsFromUrl(url)
    {
        let full_url = url.replace(/#$/, "")
        let queryString = full_url.split('?')[1]
        let params = new URLSearchParams(queryString)
        let tags = decodeURIComponent(params.get('tags'))
        if (!tags) { tags = "" }

        return tags.split(',')
    }
</script>