<div>
    {% for tag in tags %}
        <a href="#" onclick="toggle_tag('{{ tag.tag }}')">{{ tag.tag }}</a>&nbsp;
    {% endfor %}
<script>
    function toggle_tag(tagId)
    {
        let full_url = window.location.href.replace(/#$/, "")
        if (full_url.indexOf('?') === -1) { full_url = `${full_url}?page=1&tags=` }
        const pageString = full_url.split('?')[0]
        let queryString = full_url.split('?')[1]
        let params = new URLSearchParams(queryString)
        let tagsList = decodeURIComponent(params.get('tags'))
        if (!tagsList) { tagsList = "" }

        let ids = tagsList.split(',')

        // Perform the action based on the provided action parameter
        let index = ids.indexOf(tagId)
        // not found, adding
        if (index === -1) { ids.push(tagId) }
        else { ids.splice(index, 1) }

        const newTagsList = ids.join(',').replace(/^,/, "")
        params.set('tags', encodeURIComponent(newTagsList))
        let newUrl = pageString + '?' + decodeURIComponent(params.toString())
        window.history.replaceState({}, '', newUrl)
    }
</script>
</div>