<div id="boards-popup" class="popup vis-hide">
    <label for="boards">Board</label><select id="boards">
        <option value="-1">None</option>
        {% for b in boards %}
        <option value="{{ b.id }}">{{ b.title }}</option>
        {% endfor %}
    </select>
    <button id="board-send-btn" data-url="{{ url_for('routes_board.add_images_to_board') }}">Sent to board</button>
    <button id="board-send-close-btn">Close</button>
</div>
{#<script type="text/javascript" src="/static/js/add_to_board.js"></script>#}