<div>
    {% for tag in tags %}
        <a href="#" onclick="toggle_tag('{{ tag[0] }}')">{{ tag[1] }}</a>&nbsp;
    {% endfor %}
<script>
    function toggle_tag(tagId)
    {
        const url = window.location.href
        if (url.indexOf('?') === -1) { return }
        let queryString = url.split('?')[1]
        let params = new URLSearchParams(queryString)
        let tagsList = decodeURIComponent(params.get('tags')).replace('#', '')
        if (!tagsList) { return }

        console.log(tagsList)
        let ids = tagsList.split(',')

        // Perform the action based on the provided action parameter
        let index = ids.indexOf(tagId)
        // not found, adding
        if (index === -1)
        {
            ids.push(tagId)
        }
        else
        {
            ids.splice(index, 1)
        }

        console.log(`to url -> ${ids.join(',')}`)
        params.set('tags', encodeURIComponent(ids.join(',')))
        let newUrl = url.split('?')[0] + '?' + decodeURIComponent(params.toString())
        window.history.replaceState({}, '', newUrl)
    }
</script>
</div>