<!DOCTYPE html>
<html>
<head>
	<title>Image ({{ image.image_id }})</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/img_params.js"></script>
    <script type="text/javascript" src="/static/study_timer.js"></script>
</head>
<body>
    <div style="display: none" id="image-id" >{{ image.image_id }}</div>
    <div style="display: none">{{ image.path }}</div>
	<div class="modal">
        <img class="modal-bg" src="/image/{{ image.image_id }}" alt="{{ image.image_id }}:{{ image.path }}">
        <div class="modal-img-container">
            <img class="modal-img" src="/image/{{ image.image_id }}" alt="{{ image.image_id }}:{{ image.path }}" tabindex="0">
            <button class="modal-button-prev"><</button>
            <button class="modal-button-next">></button>
        </div>
        <div class="modal-controls">
            <div class="row timer">
                <span class="timer-icon"></span>&nbsp;&nbsp;
                <span id="time-current">0</span>&nbsp;/&nbsp;<span id="time-planned" value="120">0</span>
                <span class="space"/>
                <button id="timer-start" started="">Start</button>
            </div>
            <div class="row">
                <span>View: </span>
                <select id="facing" value="{{ image.facing }}">
                    <option value="front">Front</option>
                    <option value="side">Side</option>
                    <option value="back">Back</option>
                </select>
                <span class="space"/>
                <span>Source: </span>
                <select id="source-type" value="{{ image.study_type_id }}">
                    {% for st in study_types %}
                    <option value="{{ st[0] }}">{{ st[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <button class="fav" id="is-fav" value="{{ image.is_fav }}"></button>
                <span>Diff: </span>
                <select id="difficulty" value="{{ image.difficulty }}">
                    <option value="0">Beginner</option>
                    <option style="display: none" value="0">Beginner</option>
                    <option style="display: none" value="1">Beginner</option>
                    <option style="display: none" value="2">Beginner</option>
                    <option style="display: none" value="3">Beginner</option>
                    <option style="display: none" value="4">Beginner</option>
                    <option style="display: none" value="5">Beginner</option>
                    <option style="display: none" value="6">Beginner</option>
                    <option style="display: none" value="7">Beginner</option>
                    <option style="display: none" value="8">Beginner</option>
                    <option style="display: none" value="9">Beginner</option>
                    <option value="10">Pro</option>
                </select>
                <label for="same-folder">Same folder:</label>
                <input type="checkbox" id="same-folder" value="true">
                <a href="/folder/{{ image.path_id }}"><img class="dir-link" src="/static/link.png"></a>
            </div>
<!--            <div id="caption">-->
<!--                <ul>-->
<!--                    <li><p id="timer">$timer</p></li>-->
<!--                    <li>Count: $count</li>-->
<!--                    <li>Time spent: $time_spent seconds</li>-->
<!--                    <li>Facing: $facing</li>-->
<!--                    <button onclick="incrementCount($image_id)">Increment count</button>-->
<!--                </ul>-->
<!--            </div>-->
            <div class="row">
                <button id="prev">Prev</button>
                <button id="next">Next</button>
            </div>
        </div>
	</div>

    <script>
    function incrementCount(imageId) {
        fetch(`/increment_count/${imageId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
    </script>

    <script>
        let list = document.getElementById('source-type')
        list.options[parseInt(list.getAttribute('value')) - 1].setAttribute('selected', 'selected')

        list = document.getElementById('difficulty')
        list.options[parseInt(list.getAttribute('value'))].setAttribute('selected', 'selected')


        window.onload = function()
        {
            console.log('Page Loaded!')

            let imgParams = new ImgParams('image-id', 'facing', 'source-type', 'same-folder', 'difficulty', 'time-planned', 'is-fav')

            imgParams.setParamsFromGET()


            // next
            const onClickNext = function ()
            {
                const curParams = imgParams.getParamsAsGET();
                const curUrl = window.location.href.split('/');
                const domain = `${curUrl[0]}//${curUrl[2]}`;
                const url = `${domain}/study-random?${curParams}`;

                const prevParams = document.getElementById('prev').getAttribute('prev-params');
                history.replaceState(null, null, `/study-image/$image_id?${prevParams}`);
                window.location.href = url;
            }
            const nextButton = document.getElementById('next');
            const nextButtonSmall = document.querySelector('.modal-button-next')
            nextButton.addEventListener('click', onClickNext);
            nextButtonSmall.addEventListener('click', onClickNext);

            // prev
            const onClickPrev = function ()
            {
                window.history.back()
            }
            const prevButton = document.getElementById('prev');
            const prevButtonSmall = document.querySelector('.modal-button-prev');
            prevButton.setAttribute('prev-params', imgParams.getParamsAsGET())
            prevButtonSmall.setAttribute('prev-params', imgParams.getParamsAsGET())
            prevButton.addEventListener('click', onClickPrev);
            prevButtonSmall.addEventListener('click', onClickPrev);

            //fab is-fav
            const favButton = document.getElementById('is-fav');
            if (favButton.value === '1') {
                console.log(favButton.value)
                favButton.classList.add('on') }
            favButton.addEventListener('click', function ()
            {
                let val = (parseInt(favButton.value) + 1) % 2;

                favButton.classList.add('loading-fav')
                fetch(`/set-image-fav?${imgParams.getParamsFav(val)}`)
                    .then(response => {
                        if (!response.ok) throw new Error('Network response was not ok');

                        if (val === 0) {favButton.classList.remove('on')}
                        else favButton.classList.add('on')
                        
                        favButton.value = val;
                        console.log(favButton.value)
                        favButton.classList.remove('loading-fav')
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                        favButton.classList.remove('loading-fav')
                    });
            });

            // study timer
            const timer = new StudyTimer({{ timer }}, 'time-current', 'time-planned')

            const onTimerStart = function () {
                timer.start()
                timerButton.textContent = 'Alga Only';
                timerButton.setAttribute('disabled', 'true')

                fetch(`/set-image-last-viewed?${imgParams.getImgIdAsGET()}`)
                    .then(response => {
                        if (!response.ok) throw new Error('Network response was not ok');
                        console.log('Last Viewed time updated!')
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            }
            const timerButton = document.getElementById('timer-start');
            timerButton.addEventListener('click', onTimerStart);

            const toggleSameFolder = function()
            {
                const sf = document.getElementById('same-folder');
                sf.checked = !sf.checked;
            }

            document.addEventListener('keydown', function(e)
            {
                if (e.altKey || e.ctrlKey || e.metaKey || e.shiftKey) { return }
                if (e.keyCode === 37) { onClickPrev(); e.preventDefault(); } // <-
                if (e.keyCode === 39) { onClickNext(); e.preventDefault(); } // ->
                if (e.keyCode === 13) { onTimerStart(); e.preventDefault(); } // enter
                if (e.keyCode === 32) { toggleSameFolder(); e.preventDefault(); } // space
            });
        }
    </script>
</body>
</html>