<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles/global.css">
    <link rel="stylesheet" href="/static/styles/gallery.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/image_lazy_load.js"></script>
    <script type="text/javascript" src="/static/js/mut_attr_observer.js"></script>
    <script type="text/javascript" src="/static/js/rating.js"></script>
    <script type="text/javascript" src="/static/js/image_selection.js"></script>
</head>
<body>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a><h1>Images pallets</h1>
</div>
{#{{ panel|default('') }}#}
{#{{ paging|default('') }}#}
<div class="gallery">
    {% for image in images %}
        <div>
            <div class="thumbnail" data-id="{{ image.image_id }}">
                <a href="/study-image/{{ image.image_id }}?same-folder=true&time-planned=120&tags=&tag-set=">
                    <img src="" class="thumb thumb-hidden" data-src="/thumb/{{ image.image_id }}.jpg" alt="{{ image.image_id }}">
                </a>
            </div>
            <div>
                {% for color in image.colors %}
                    <div style="background-color: {{ color.color.hex }}; display: inline">{{ color.color.hex }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{#{{ paging|default('') }}#}
{#<div style="height: 20px;"></div>#}

<div class="top-menu">
    <button id="rate-up" class="rate-up btn-bg-blend" value="1"></button>
    <button id="rate-dn" class="rate-dn btn-bg-blend" value="-1"></button>
{#    <button id="tags-show-btn" class="btn-bg-blend">Show tags</button>#}
{#    <button id="tags-filter-btn" class="btn-bg-blend">Filter tags</button>#}
{#    <button id="tags-open-btn" class="btn-bg-blend">Edit tags</button>#}
    <button id="toggle-selection-mode-btn" class="btn-bg-blend">Select</button>
</div>

<script>
    let rating = null
    let selection = null

    // 0 - not showing
    // 1 - showing
    let showTagsMode = 0

    document.addEventListener('DOMContentLoaded', function()
    {
        // reveal on load
        const thumbs = document.querySelectorAll('.thumb')
        thumbs.forEach((elem) =>
        {
            new MutationAttributeObserver(elem, 'src', (target) =>
            {
                target.classList.remove('thumb-hidden')
            })
        })

        new ImageLazyLoad('.thumb', false, '300px')

        rating = new RateMultImages('rate-up', 'rate-dn', 'loading', 'op-success', 'op-fail')
        rating.updateImageIds = function ()
        {
            this.setImageIds(selection.selectedIds)
        }

        selection = new ImageSelection('toggle-selection-mode-btn', '.gallery', '.thumbnail')
    }, false)

    // fetch tags button
    function fetchTags()
    {
        showTagsMode = (showTagsMode + 1) % 2

        // hide shown tags
        if (showTagsMode === 0)
        {
            document.querySelectorAll('.tags-list').forEach(elem => elem.textContent = '')
            document.querySelectorAll('.overlay').forEach(elem => elem.classList.remove('vis-hide'))
        }
        // fetch tags
        else if (showTagsMode === 1) {
            const idsStr = Array.from(document.querySelectorAll('.thumbnail')).map((tile) => tile.getAttribute('data-id')).join(',')
            fetch(`/get-image-tags?image-id=${idsStr}`)
                .then(response => response.json())
                .then(data => {
                    if (!data) throw new Error('Network response was not ok')
                    document.querySelectorAll('.thumbnail').forEach((tile) => {
                        const id = tile.getAttribute('data-id')
                        tile.querySelector('.tags-list').textContent = data[id].join(', ')
                        tile.querySelector('.overlay').classList.remove('vis-hide')
                    })
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error)
                });
        }
    }

    {#document.getElementById('tags-show-btn').addEventListener('click', fetchTags)#}
    {#document.getElementById('tags-open-btn').addEventListener('click', toggleTagsPopupDisplay)#}
    {#document.getElementById('tags-filter-btn').addEventListener('click', toggleTagsFilterDisplay)#}

    document.addEventListener('keydown', function(e)
    {
        // select all
        if (selection.selectionMode && e.code === 'KeyA' && e.shiftKey)
        {
            selection.selectAll()
        }
        // show/hide tags
        {#else if (e.code === 'KeyW')#}
        {#{#}
        {#    fetchTags()#}
        {#}#}
        // toggle selection mode
        else if (e.code === 'KeyS' && !e.shiftKey)
        {
            selection.toggleSelectionMode()
        }
    });
</script>
</body>
</html>