<div id="tags-editor-popup" class="tags-popup hidden">
    <h3>Tags (<span id="images-count"></span> images selected)</h3>
    <div id="tagList" class="tag-container">
        {# tpl-tag-items here #}
    </div>
    <button id="tags-submit-add">Add</button>
    <button id="tags-submit-del">Del</button>
    <button id="tags-clear">Clear</button>
    <button id="pins-clear">Clear Pins</button>
    <button id="tags-close">Close</button>
</div>
<div id="tpl-tag-item" class="tag-item hidden" data-id="{#{{ tag }}#}" data-color="{#{{ hex }}#}">
    <div id="highlight">
        <button class="tag-pin" value="{#{{ tag }}#}"></button>
        <input type="checkbox" id="{#{{ tag }}#}" value="{#{{ tag }}#}"/>
        <label style="color:{#{{ hex }}#}#000" for="{#{{ tag }}#}">{#{{ tag }}#}</label>
    </div>
</div>

<div id="tags-pins">
    <div id="buttons-no-pin" style="border:2px solid"></div>
    <div id="buttons">
        {# tag-pin-template here #}
    </div>
    <div id="controls">
        <button id="tags-pins-submit-add">Add</button>
        <button id="tags-pins-submit-del">Del</button>
        <button id="tags-pins-clear">Clear</button>
    </div>
</div>
<div id="tag-pin-template" class="tag-edit-pin hidden" data-id="{#{{ hex }}#}">
    <input type="checkbox" id="{#{{ hex }}#}" value="{#{{ hex }}#}"/>
    <label style="{#{{ hex }}#}" for="{#{{ hex }}#}">{#{{ hex }}#}</label>
</div>