<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles_global.css">
    <link rel="stylesheet" href="/static/styles_gallery.css">
    <script type="text/javascript" src="/static/image_lazy_load.js"></script>
    <script type="text/javascript" src="/static/mut_attr_observer.js"></script>
    <script type="text/javascript" src="/static/rating.js"></script>
    <script type="text/javascript" src="/static/image_selection.js"></script>
</head>
<body>
<div class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a><h1>{{ title }}</h1>
    <p>[{{ overview.study_type|default('') }}]</p><p>{{ overview.path|default('') }}</p>
</div>
{{ panel|default('') }}
{{ paging|default('') }}
<div class="gallery">
    {% for image in images %}
    <div class="thumbnail" data-id="{{ image.image_id }}">
        <a href="/study-image/{{ image.image_id }}?same-folder=true&time-planned=120">
            <img src="" class="thumb thumb-hidden" data-src="/thumb/{{ image.image_id }}.jpg" alt="{{ image.image_id }}">
            <div class="overlay vis-hide">
                <span class="tags-list"></span>
            </div>
        </a>

    </div>
    {% endfor %}
</div>
{{ paging|default('') }}
<div style="height: 20px;"></div>

<div class="top-menu">
    <button id="rate-up" class="rate-up btn-bg-blend" value="1"></button>
    <button id="rate-dn" class="rate-dn btn-bg-blend" value="-1"></button>
    <button id="tags-show-btn" class="btn-bg-blend">Show tags</button>
    <button id="tags-open-btn" class="btn-bg-blend">Edit tags</button>
    <button id="toggle-selection-mode-btn" class="btn-bg-blend">Select</button>
</div>

<div class="tags-popup-background" style="display: none;"></div>
<div id="tags-popup" class="tags-popup" style="display: none;">
    <h3>Tags (<span id="images-count"></span> images selected)</h3>
    <div id="tagList" class="tag-container">
        <div class="tag-column">
        {% for t in tags %}
            <input type="checkbox" id="{{ t.tag }}" value="{{ t.tag }}"/>
            <label for="{{ t.tag }}">{{ t.tag }}</label><br>
            {% if loop.index % 10 == 0 %}
                </div><div class="tag-column">
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <button id="tags-submit">Submit</button>
    <button id="tags-clear">Clear All</button>
    <button id="tags-close">Close</button>
</div>

<script>
    let rating = null
    let selection = null

    document.addEventListener('DOMContentLoaded', function()
    {
        // reveal on load
        const thumbs = document.querySelectorAll('.thumb')
        thumbs.forEach((elem) =>
        {
            new MutationAttributeObserver(elem, 'src', (target) =>
            {
                target.classList.remove('thumb-hidden')
            })
        })

        new ImageLazyLoad('.thumb', false, '300px')

        rating = new RateMultImages('rate-up', 'rate-dn', 'loading', 'op-success', 'op-fail')
        rating.updateImageIds = function ()
        {
            this.setImageIds(selection.selectedIds)
        }

        selection = new ImageSelection('toggle-selection-mode-btn', '.gallery', '.thumbnail')
    }, false)
</script>

<!-- ################## -->
<!-- TAGS POPUP SECTION -->
<!-- ################## -->
<script>

    function toggleTagsPopupDisplay()
    {
        const btn = document.getElementById('tags-popup')
        if (btn.style.display === 'none')
        {
            btn.style.display = 'block'
            document.querySelector('.tags-popup-background').style.display = 'block'
            document.getElementById('images-count').textContent = '' + selection.selectedIds.length
        }
        else
        {
            btn.style.display = 'none'
            document.querySelector('.tags-popup-background').style.display = 'none'
        }
    }

    function closeTagsPopup()
    {
        document.getElementById('tags-popup').style.display = 'none';
        document.querySelector('.tags-popup-background').style.display = 'none'
    }

    function clearTagsPopup()
    {
        Array.from(document.querySelectorAll('#tagList input[type="checkbox"]:checked'))
            .map((checkbox) => checkbox.checked = false);
    }

    function submitAddTags()
    {
        const selectedTags = Array.from(document.querySelectorAll('#tagList input[type="checkbox"]:checked'))
            .map((checkbox) => checkbox.value);

        const idsStr = selection.selectedIds.join(',')
        const tagsStr = selectedTags.join(',')

        {#const params = `image-id=${idsStr}&tags=${tagsStr}`#}
        {#console.log('Selected Tags:', params);#}

        document.getElementById('tags-submit').classList.add('loading')

        fetch(`/add-image-tags?image-id=${idsStr}&tags=${tagsStr}`)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                document.getElementById('tags-submit').classList.remove('loading')
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                document.getElementById('tags-submit').classList.remove('loading')
            });
    }

    function fetchTags()
    {
        const idsStr = Array.from(document.querySelectorAll('.thumbnail')).map((tile) => tile.getAttribute('data-id')).join(',')
        fetch(`/get-image-tags?image-id=${idsStr}`)
            .then(response => response.json())
            .then(data =>
            {
                if (!data) throw new Error('Network response was not ok')
                document.querySelectorAll('.thumbnail').forEach((tile) =>
                {
                    const id = tile.getAttribute('data-id')
                    tile.querySelector('.tags-list').textContent = data[id].join(', ')
                    tile.querySelector('.overlay').classList.remove('vis-hide')
                })
            })
            .catch(error =>
            {
                console.error('There was a problem with the fetch operation:', error)
            });
    }

    document.getElementById('tags-show-btn').addEventListener('click', fetchTags)
    document.getElementById('tags-open-btn').addEventListener('click', toggleTagsPopupDisplay)
    document.getElementById('tags-submit').addEventListener('click', submitAddTags)
    document.getElementById('tags-close').addEventListener('click', closeTagsPopup)
    document.querySelector('.tags-popup-background').addEventListener('click', closeTagsPopup)
    document.getElementById('tags-clear').addEventListener('click', clearTagsPopup)

    document.addEventListener('keydown', function(e)
    {
        // select all
        if (selection.selectionMode && e.code === 'KeyA' && e.shiftKey)
        {
            selection.selectAll()
            {#document.querySelectorAll('.thumbnail').forEach((tile) =>#}
            {#{#}
            {#    selectionhandleTileClick(tile)#}
            {#    lastClickedTile = null#}
            {#//})#}
        }
        // toggle selection mode
        else if (e.code === 'KeyS' && !e.shiftKey)
        {
            selection.toggleSelectionMode()
        }
        // toggle tag popup display
        else if (e.code === 'KeyT' && !e.shiftKey)
        {
            toggleTagsPopupDisplay()
        }
    });
</script>
</body>
</html>