<html>
<head>
    <title>Gallery overview</title>
    <link rel="stylesheet" href="/static/styles_overview.css">
</head>
<body>
<div class="header">
<h1>Overview</h1>
    <a href="/favs">Favourites</a>
    <a href="/last">Last study</a>
</div>
{% for img in images %}
    <div class="directory">
        <img class="thumb" src="/thumb/{{ img.image_id }}.jpg" alt="thumbnail">
        <div>
            <h4>[{{ img.study_type }}] <b>{{ img.path }}</b> <a href="/folder/{{ img.path_id }}"><img class="dir-link" src="/static/link.png"></a> <a href="/study-image/{{ img.image_id }}?same-folder=true&time-planned=120">open
                id:{{ img.image_id }}</a></h4>
        </div>
    </div>
{% endfor %}
</body>
</html>