<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/global.css">
    <link rel="stylesheet" href="/static/styles/video.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
	<title>Video ({{ image.image_id }})</title>
</head>
<body>
<div style="display: none" id="image-id">{{ image.image_id }}</div>
<div style="display: none">{{ image.path }}</div>
<div class="modal">
    <div class="modal-img-container">
        <div class="video-container">
            <video id="video" class="modal-img video-fix" tabindex="-1" controls>
                <source src="/video/{{ image.image_id }}" type="video/mp4">
            </video>
            <video id="video-fwd" class="modal-img video-fix vis-hide" tabindex="-1">
                <source src="/video/{{ image.image_id }}" type="video/mp4">
            </video>
            <table class="stats-overlay">
                <tr><td>Frame </td><td id="cur-frame" class="table-value">0</td></tr>
                <tr><td>Time </td><td id="cur-time" class="table-value">0</td></tr>
            </table>
        </div>
    </div>
    <div class="modal-controls">
        <div class="row">
            <label for="onion">Onion</label><input id="onion" type="checkbox"/>
        </div>
        <div class="row">
            <label for="frame-step">Step (up/down)</label>
            <input id="frame-step" type="text" size="5" placeholder="5" min="1" max="9999" pattern="[0-9]*" value="5"/>
        </div>
        <div class="row">
            <label for="frame-rate">Frame rate</label>
            <select id="frame-rate">
                <option value="24">24</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="60">60</option>
            </select>
        </div>
        <div class="row hspace">
        </div>
        <div class="row">
            <span>Keys</span>
            <button id="key-add">Add</button>
            <button id="clear-save">Clear</button>
        </div>

        <div class="row">
            <table id="keys-list">
                <tr id="key-tpl" class="vis-hide" data-id="-1" data-time="0">
                    <td>
                        <a id="text" href="#" class="key-text"></a>
                    </td>
                    <td>
                        <button id="delete">(x)</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    const video = document.getElementById('video')
    const videoOnionFwd = document.getElementById('video-fwd')

    const vFrame = document.getElementById('cur-frame')
    const vTime  = document.getElementById('cur-time')

    let forwardStep = 1.
    let fps = 1. / 30.


    // KEYS

    const keysAddBtn = document.getElementById('key-add')
    const keysList = document.getElementById('keys-list')
    const keyTpl = document.getElementById('key-tpl')
    console.log(keyTpl)

    function newKeyTemplate(value)
    {
        const key = keyTpl.cloneNode(true)
        keysList.append(key)

        key.id = 'key'
        key.setAttribute('data-time', value)

        key.querySelector('#text').textContent = value.toFixed(2)
        key.querySelector('#text').addEventListener('click', seekKey)
        key.querySelector('#delete').addEventListener('click', removeKey)

        key.classList.remove('vis-hide')

        saveKeys()
    }

    function removeKey(e)
    {
        const btn = e.currentTarget
        btn.parentNode.parentNode.parentNode.removeChild(btn.parentNode.parentNode)

        saveKeys()
    }

    function seekKey(e)
    {
        e.preventDefault()

        const text = e.currentTarget
        const value = parseFloat(text.parentNode.parentNode.getAttribute('data-time'))
        console.log(value)
        video.currentTime = value
    }

    function saveKeys()
    {
        let keys = []

        Array.from(keysList.querySelectorAll('#keys-list #key')).forEach(item =>
        {
            console.log(item)
            const value = parseFloat(item.getAttribute('data-time'))
            keys.push({time: value})
        })

        let videoData = JSON.parse(localStorage.getItem('video-data'))
        if (videoData === null) { videoData = {} }
        const id = 'id_' + '{{ image.image_id }}'
        if (!videoData.hasOwnProperty(id)) { videoData[id] = {} }
        videoData[id]['video_keys'] = keys

        console.log(videoData)

        localStorage.setItem('video-data', JSON.stringify(videoData))
    }

    function getKeys()
    {
        const videoData = JSON.parse(localStorage.getItem('video-data'))
        const id = 'id_' + '{{ image.image_id }}'
        if (videoData === null || !videoData.hasOwnProperty(id) || !videoData[id].hasOwnProperty('video_keys')) { return [] }

        return videoData[id]['video_keys']
    }



    function initializeKeys()
    {
        {#const data = [{time:4}, {time:10}]#}
        const data = getKeys()

        data.forEach(item =>
        {
            console.log(item)
            newKeyTemplate(item.time)
        })
    }



    keysAddBtn.addEventListener('click', e =>
    {
        newKeyTemplate(video.currentTime)
    })
    document.getElementById('clear-save').addEventListener('click', e =>
    {
        localStorage.removeItem('video-data')
    })


    initializeKeys()

    // KEYS -- end


    // CONTROLS

    document.getElementById('onion').addEventListener('click', e =>
    {
        videoOnionFwd.classList.toggle('vis-hide')
    })

    forwardStep = parseInt(document.getElementById('frame-step').value)
    document.getElementById('frame-step').addEventListener('change', e =>
    {
        forwardStep = parseInt(e.currentTarget.value)
    })

    // CONTROLS -- end


    function seek(vid, frames, fps)
    {
        console.log(`before cur time: ${vid.currentTime}`)

        const offset = frames * fps

        const time = vid.currentTime
        vid.currentTime += offset

        if (offset > 0.)
        {
            videoOnionFwd.currentTime = time
        } else
        {
            videoOnionFwd.currentTime = vid.currentTime + offset
        }


        console.log(`after cur time: ${vid.currentTime} :: 1 frame ${frames * fps} `)
    }

    video.ontimeupdate = function()
    {
        console.log(video.currentTime)
        vFrame.textContent = `${Math.floor(video.currentTime / fps)}`
        vTime.textContent  = `${video.currentTime.toFixed(2)}`
    }

    video.addEventListener('loadedmetadata', function ()
    {
        // Access the frame rate (frames per second) of the video
        const frameRate = video.playbackRate

        console.log('Frame rate:', frameRate)
    })

    video.addEventListener('click', e =>
    {
        e.preventDefault()
        e.stopPropagation()
    })

    document.addEventListener('keydown', e =>
    {
        {#if (e.shiftKey) {return}#}
        if (e.code === 'Space')
        {
            e.preventDefault()
            e.stopPropagation()
            if (video.paused ) { video.play() }
            else { video.pause() }
        }
    })

    // Frame-by-frame scrubbing with left and right arrow keys
    document.addEventListener('keydown', e =>
    {
        if (e.code === 'ArrowLeft')
        {
            e.preventDefault()
            e.stopPropagation()
            seek(video, -1, fps)
        }
        else if (e.code === 'ArrowRight')
        {
            e.preventDefault()
            e.stopPropagation()
            seek(video, 1, fps)
        }
        else if (e.code === 'ArrowUp')
        {
            e.preventDefault()
            e.stopPropagation()
            seek(video, forwardStep, fps)
        }
        else if (e.code === 'ArrowDown')
        {
            e.preventDefault()
            e.stopPropagation()
            seek(video, -forwardStep, fps)
        }
    })

    // Frame-by-frame scrubbing with left and right arrow keys
    video.addEventListener('keydown', e =>
    {
        if (e.code === 'ArrowLeft')
        {
            e.preventDefault()
            e.stopPropagation()
        }
        else if (e.code === 'ArrowRight')
        {
            e.preventDefault()
            e.stopPropagation()
        }
        else if (e.code === 'ArrowUp')
        {
            e.preventDefault()
            e.stopPropagation()
        }
        else if (e.code === 'ArrowDown')
        {
            e.preventDefault()
            e.stopPropagation()
        }
    })
</script>
</body>
</html>