:root {
    --clr-row-odd: #706c6c;
    --clr-row-even: #7a7676;
    --clr-row-hover: #8d8989;
    --clr-text: black;
}

.list {
    font-size: 14pt;
}

.list td {
    padding-left: 5px;
    padding-right: 5px;
}

.list tr:nth-child(odd) {
    background-color: var(--clr-row-odd);
}
.list tr:nth-child(even) {
    background-color: var(--clr-row-even);
}
.list tr:hover {
    background-color: var(--clr-row-hover);
}

.list .edit {
    color: var(--clr-text);
}
.list .edit, .list .edit:active,  .list .edit:visited {
    text-decoration: none;
}
.list .edit:hover {
    text-decoration: underline;
}

.list .del {
    opacity: 0.5;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.list .del:hover {
   opacity: 1;
}

.dimmed {
    opacity: 0.7;
}