:root {
    --feed-width: 420px;
    --footer-heigth: 20px;

    --post-width: 400px;
    --post-mr-top: 20px;

    --trigger-mr-bot: 40px;

    --clr-post-tags: white;
}


body {
}

.feed-container {
    width: 100%;
}

.feed {
    margin-left: auto;
    margin-right: auto;
    width: var(--feed-width);
}

#more-trigger {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--trigger-mr-bot);
    width: var(--feed-width);
    height: var(--footer-heigth);
    background-color: var(--clr-gray3);
}

.post {
    background-color: var(--clr-gray3);
    margin-top: var(--post-mr-top);
}

.post:first-child {
    margin-top: 0;
}

.post, .post img {
    width: var(--post-width);
}

.post .content a, .post .content a:hover, .post .content a:visited {
    text-decoration: none;
    margin: 0;
}

.tags {
    color: var(--clr-post-tags);
    padding: 5px;
}

.test-sel
{
    border:3px solid green;
}