/* Flex container */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Flex item */
.gallery .thumbnail {
    min-height: 200px;
    min-width: 133px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.gallery .thumb {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.gallery .thumb-hidden {
    opacity: 0.1 !important;
}

.disabled {
  pointer-events: none; /* Disable pointer events on the tile */
}

.selected {
    outline: 4px solid green;
}

.selected::before {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 50%;
}

.select-mode-btn
{
    background-color: green;
}

.no-select {
    user-select: none;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    font-size: 14px;
    /*word-wrap: break-word;*/
    color: black;
    background-color: rgba(122, 118, 118, 0.7);
}


.pallet-cell
{
    color: rgba(0,0,0,0.4);
}

/* CSS grid for responsive layout */
@media (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}