:root
{
    --clr-gray3: #545151;
    --clr-main-bg: #7a7676;
    --clr-popup-bg: #918d8d;
    --clr-popup-bg-border: black;
    --clr-popup-backrop: black;
    --clr-sel-bg: #737771;
    --clr-sel: #7ea87e;

    --clr-img-ctrl-bg-hover: rgba(84, 81, 81, 60%);

    --clr-tag-sel-pos: #7ea87e;
    --clr-tag-sel-neg: #a85c4d;
    --clr-tagpin-bg: #918d8d;

    --clr-tag-heighlight-use: rgba(206, 177, 61, 0.42);
    --clr-tag-heighlight-add: rgba(126, 168, 126, 0.62);
    --clr-tag-heighlight-remove: rgba(168, 92, 77, 0.62);

    --clr-tag-recent: #234123;

    --clr-tagset-label: #545151;

    --clr-alert-succ-tr: #23F31500;
    --clr-alert-succ-op: #23F315FF;
    --clr-alert-fail-tr: #F3154900;
    --clr-alert-fail-op: #F31549FF;

    --clr-tile-ov1-bg: #00000033;
    --clr-tile-ov1-text: white;
    --clr-tile-ov2-bg: #7A7676B2;
    --clr-tile-ov2-text: black;
    /*--clr-tile-sel: green;*/

    --clr-plt-text: #00000066;
    --clr-plt-text-bright: #D3D3D366;
    --clr-plt-frame: #0000007F;
    --clr-plt-save-btn-bg: #00000000;
    --clr-plt-text2: rgba(0,0,0,0.3);
    --clr-plt-border2: rgba(0,0,0,0.2);

    --clr-tile-hedden-border: white;

    --url-icon-up:   url("/static/arrow_up.png");
    --url-icon-down: url("/static/arrow_down.png");
    --url-icon-pinon:  url("/static/pin_on.png");
    --url-icon-pinoff: url("/static/pin_off.png");
    --url-icon-favon:  url("/static/fav_on.png");
    --url-icon-favoff: url("/static/fav_off.png");
    --url-icon-timer: url("/static/timer.png");
    --url-icon-edit:  url("/static/edit.png");
    --url-icon-cross:  url("/static/cross.png");
    --url-icon-play:  url("/static/play.png");
}

body
{
    background-color: var(--clr-main-bg);
}

.body-sel-mode-on
{
    background-color: var(--clr-sel-bg) !important;
}

button
{
    border-radius: 3%;
    border: 2px;
}

.header
{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.header h1, a, p
{
    margin-left: 10px;
}

.header h1 {
    margin-right: 20px;
}

.back-btn
{
    color: var(--clr-gray3);
}

.no-decor, .no-decor:active, .no-decor:hover, .no-decor:visited, .no-decor:focus
{
    color: inherit;
    text-decoration: none;
}

.but-decor-hover:hover
{
    text-decoration: underline;
}

.dir-link {
    width: 15px;
    height: 15px;
}

/* Rating */
.rate-up, .rate-dn
{
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
    padding: 2px;
}
.rate-up {background-image: var(--url-icon-up);}
.rate-dn {background-image: var(--url-icon-down);}

/* Use instead of style="display: hidden" */
.vis-hide
{
    display: none !important;
}

/* Button semi transparent */
.btn-bg-blend {
    opacity: 0.5;
    transition: opacity 0.2s;
}
.btn-bg-blend:hover {
    opacity: 1;
}

.btn-bg-blend2 {
    opacity: 0.2;
    transition: opacity 0.2s;
}
.btn-bg-blend2:hover {
    opacity: 1;
}

/* Paging */
.paging
{
    width: 100%;
    margin: 15px;
}
.paging-btns
{
    display: flex;
    justify-content: center;
}
.page-btn
{
    margin: 5px;
}

/* TAGS */

.popup, .tags-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-popup-bg);
    border: 1px var(--clr-popup-bg-border);
    padding: 15px;
    overflow: auto;
    z-index: 99999;
}

.popup-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tags-popup-background {
    position: absolute;
    background-color: #8e05a2;
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90100;
}

.bg-overlay {
    position: fixed;
    background-color: var(--clr-popup-backrop);
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90100;
}

.top-menu {
    position: fixed;
    top: 10px;
    right: 10px;
}

.tag-container {
    display: grid;
    max-width: calc(80vw);
    min-width: calc(10vw);
    max-height: calc(70vh);
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    grid-auto-flow: column;
    grid-gap: 5px;
    margin: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.tag-item
{
    white-space: nowrap;
    padding-right: 5px;
}

.tag-panel {
    margin-bottom: 10px;
}

.tag-edit {
    display: flex;
    align-items: center;
}

.tag-column {
    flex: 1;
    padding: 10px;
    min-width: 150px;
}

.tag-item .highlight-use
{
    border: 2px solid var(--clr-tag-heighlight-use);
}

.tag-item .highlight-add
{
    border: 2px solid var(--clr-tag-heighlight-add);
}

.tag-item .highlight-remove
{
    border: 2px solid var(--clr-tag-heighlight-remove);
}

/*.tag-link {*/
/*    background-color: #b0aeae;*/
/*    text-decoration: none;*/
/*    margin: 2px;*/
/*}*/

/*.tag-link {*/
/*    background-color: #b0aeae;*/
/*    text-decoration: none;*/
/*    margin: 2px;*/
/*    transition: background-color 0.2s;*/
/*}*/

.tag-selected, .tag-selected:hover {
    background-color: var(--clr-tag-sel-pos) !important;
}

.tag-selected-pos, .tag-selected-pos:hover {
    background-color: var(--clr-tag-sel-pos) !important;
}

.tag-selected-neg, .tag-selected-neg:hover {
    background-color: var(--clr-tag-sel-neg) !important;
}


/*.tag-link:active, .tag-link:visited, .tag-link:hover, .tag-link:focus {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.tag-link:hover {*/
/*    background-color: #cccccc;*/
/*}*/

#tags-pins
{
    padding: 5px;
    position:fixed;
    bottom:100px;
    right:10px;
    transition: right 0.5s, opacity 0.2s;
    opacity: 1;
    background-color: var(--clr-tagpin-bg);
}

#tags-pins #controls {
    margin-top: 15px;
    margin-bottom: 5px;
}

.tags-pins-hide {right: -200px !important; opacity: 0}

.tag-pin
{
    width: 15px;
    height: 15px;
    background-size: cover;
    border: none;
    padding: 2px;
    background-image: var(--url-icon-pinoff);
    background-color: transparent;
}
.tag-pin-on {background-image: var(--url-icon-pinon);}


.tags-list {}

.tight-chk
{
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.tag-filter
{
    padding-left: 10px;
    user-select: none;
}

.tag-set-pos
{
    border: 2px solid var(--clr-tag-sel-pos);
}

.tag-set-neg
{
    border: 2px solid var(--clr-tag-sel-neg);
}


.tagset-list
{}

.tagset-list li:first-child
{
    margin-top: 2px;
}
.tagset-list li
{
    margin-top: 15px;
}
.tagset-list li h2
{
    margin-top: 0;
    margin-bottom: 2px;
}

.tagset-list li p
{
    margin-top: 1px;
    margin-bottom: 1px;
}

.tagset-list .tagset-label
{
    width: 80px;
    color: var(--clr-tagset-label);
}

.tagset-list li a, .tagset-list li a:visited, .tagset-list li a:hover
{
    color: inherit;
    text-decoration: none;
}
.tagset-list li a:hover
{
    text-decoration: underline;
}
/* END TAGS */


/* OTHER */

#yesno
{
    position: fixed;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--clr-popup-bg);
    padding: 10px;
    text-align: center;
    z-index: 99999;
}

#yesno .title
{
    font-size: 20px;
}

#yesno .text
{
    font-size: 16px;
}

#yesno #yes, #yesno #no
{
    margin: 10px;
}

/* END OTHER */


/* Animations */

/* Loading */
@keyframes animLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: animLoading 2s linear infinite;
}

/* Operation Success */
@keyframes animSucc {
    0% {
        border: 1px solid var(--clr-alert-succ-tr);
        background-color: var(--clr-alert-succ-tr);
    }
    10%
    {
        border: 1px solid var(--clr-alert-succ-op);
        background-color: var(--clr-alert-succ-op);
    }
    100%
    {
        border: inherit;
        background-color: inherit;
    }
}

.op-success {
    animation: animSucc 1s ease-out;
}

/* Operation Fail */
@keyframes animFail {
    0% {
        border: 1px solid var(--clr-alert-fail-tr);
        background-color: var(--clr-alert-fail-tr);
    }
    10%
    {
        border: 1px solid var(--clr-alert-fail-op);
        background-color: var(--clr-alert-fail-op);
    }
    100%
    {
        border: inherit;
        background-color: inherit;
    }
}

.op-fail {
    animation: animFail 1s ease-out;
}

/* END Animations */