body
{
    background-color: #7a7676;
}

button
{
    border-radius: 3%;
    border: 2px;
}

.header
{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.header h1, a, p
{
    margin-left: 10px;
}

.header h1 {
    margin-right: 20px;
}

.back-btn
{
    color: #545151;
}

.no-decor, .no-decor:active, .no-decor:hover, .no-decor:visited, .no-decor:focus
{
    color: inherit;
    text-decoration: none;
}

.but-decor-hover:hover
{
    text-decoration: underline;
}

.dir-link {
    width: 15px;
    height: 15px;
}

/* Rating */
.rate-up, .rate-dn
{
    width: 25px;
    height: 25px;
    background-size: cover;
    border: none;
    padding: 2px;
}
.rate-up {background-image: url("/static/arrow_up.png");}
.rate-dn {background-image: url("/static/arrow_down.png");}

/* Use instead of style="display: hidden" */
.vis-hide
{
    display: none;
}

/* Button semi transparent */
.btn-bg-blend {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.btn-bg-blend:hover {
    opacity: 1;
}

/* Paging */
.paging
{
    width: 100%;
    margin: 15px;
}
.paging-btns
{
    display: flex;
    justify-content: center;
}
.page-btn
{
    margin: 5px;
}

/* TAGS */

.popup, .tags-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #918d8d;
    border: 1px black;
    padding: 15px;
    overflow: auto;
    z-index: 99999;
}

.popup-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tags-popup-background {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.top-menu {
    position: fixed;
    top: 10px;
    right: 10px;
}

.tag-container {
    display: grid;
    max-width: calc(80vw);
    min-width: calc(10vw);
    max-height: calc(60vh);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    grid-auto-flow: column;
    grid-gap: 5px;
    margin: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.tag-panel {
    margin-bottom: 10px;
}

.tag-edit {
    display: flex;
    align-items: center;
}

.tag-column {
    flex: 1;
    padding: 10px;
    min-width: 150px;
}

.tag-link {
    background-color: #b0aeae;
    text-decoration: none;
    margin: 2px;
}

.tag-link {
    background-color: #b0aeae;
    text-decoration: none;
    margin: 2px;
    transition: background-color 0.2s;
}

.tag-selected, .tag-selected:hover {
    background-color: #7ea87e !important;
}

.tag-selected-pos, .tag-selected-pos:hover {
    background-color: #7ea87e !important;
}

.tag-selected-neg, .tag-selected-neg:hover {
    background-color: #a85c4d !important;
}


.tag-link:active, .tag-link:visited, .tag-link:hover, .tag-link:focus {
    text-decoration: none;
    color: black;
}

.tag-link:hover {
    background-color: #cccccc;
}

.tags-list {}

.tight-chk
{
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.tag-filter
{
    padding-left: 10px;
    user-select: none;
}

.tag-set-pos
{
    border: 2px solid #7ea87e;
}

.tag-set-neg
{
    border: 2px solid #a85c4d;
}

/* END TAGS */



/* Animations */

/* Loading */
@keyframes animLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: animLoading 2s linear infinite;
}

/* Operation Success */
@keyframes animSucc {
    0% {
        border: 1px solid rgba(35, 243, 21, 0.0);
        background-color: rgba(35, 243, 21, 0.0);
    }
    10%
    {
        border: 1px solid rgba(35, 243, 21, 1);
        background-color: rgba(35, 243, 21, 1);
    }
    100%
    {
        border: inherit;
        background-color: inherit;
    }
}

.op-success {
    animation: animSucc 1s ease-out;
}

/* Operation Fail */
@keyframes animFail {
    0% {
        border: 1px solid rgb(243, 21, 73, 0.0);
        background-color: rgb(243, 21, 73, 0.0);
    }
    10%
    {
        border: 1px solid rgb(243, 21, 73, 1);
        background-color: rgb(243, 21, 73, 1);
    }
    100%
    {
        border: inherit;
        background-color: inherit;
    }
}

.op-fail {
    animation: animFail 1s ease-out;
}

/* END Animations */