body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/*.g-centered*/
/*{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: var(--z-ref-container);*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    !*justify-content: space-between;*!*/
/*    flex-direction: column; !* add column flex direction *!*/
/*}*/

.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-ref-container);
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*justify-content: space-between;*/
    flex-direction: column; /* add column flex direction */
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px);
    z-index: var(--z-main-bg);
    transition: filter 0.3s ease;
}

.modal-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    transform: translate(0%, 5%) scale(1.2);
    transition: filter 0.3s ease;
}

.modal-bg-gray
{
    filter: grayscale(100%) blur(8px);
}

.modal-img-container
{
    flex-basis: 80%;
    margin: 10px;
    display: block;
    object-fit: contain;
    max-width: calc(75vw - 20px); /* 20px margin on left and right */
    max-height: calc(100vh - 20px); /* 20px margin on top and bottom */
    /*border: calc(100% * min(100vw, 100vh)) solid transparent; !* fallback border width *!*/
}

.modal-img {
    /*flex-basis: 80%;*/
    /*margin: 20px;*/
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*max-width: calc(100% - 40px); !* 20px margin on left and right *!*/
    /*max-height: calc(100% - 40px); !* 20px margin on top and bottom *!*/
    /*border: calc(100% * min(100vw, 100vh)) solid transparent; !* fallback border width *!*/
    transition: filter 0.2s ease;
}

.modal-img-darken
{
    filter: brightness(50%);
}

.modal-img-gray { filter: grayscale(100%); }

.modal-img-gray-contrast-150  { filter: grayscale(100%) contrast(1.5); }
.modal-img-gray-contrast-200  { filter: grayscale(100%) contrast(2); }
.modal-img-gray-contrast-300  { filter: grayscale(100%) contrast(3); }
.modal-img-gray-contrast-1000 { filter: grayscale(100%) contrast(10); }

.magnification
{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    display: none;
    transition: filter 0.2s ease;
}

.modal-img, .magnification
{
    cursor: url("/static/cursor-transp.png") , auto;
}

.cursor-stop-m2 {cursor: url("/static/cursor-solid-4.5.png") , auto !important;}
.cursor-stop-m1 {cursor: url("/static/cursor-solid-9.png") , auto !important;}
.cursor-stop-0 {cursor: url("/static/cursor-solid-18.png") , auto !important;}
.cursor-stop-p1 {cursor: url("/static/cursor-solid-36.png") , auto !important;}
.cursor-stop-p2 {cursor: url("/static/cursor-solid-72.png") , auto !important;}

.modal-img-color-picker
{
    cursor: crosshair !important;
}


.dir-link
{
    width: 15px;
    height: 15px;
}

.image-flip
{
    transform: scaleX(-1);
}


.modal-controls {
    display: flex;
    min-width: 300px;
    flex-direction: column; /* add column flex direction */
    align-items: center;
    /*flex-wrap: wrap;*/
    align-self: flex-start;
    /*justify-content: space-between;*/
    transition: background-color 0.15s;
}
.modal-controls .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-controls select,
.modal-controls button {
    margin: 3px;
}

.modal-controls select {
    min-width: 120px;
    max-width: calc(10vw);
}

.modal-controls .space
{
    margin-left: 10px;
}

.modal-controls:hover
{
    background-color: var(--clr-img-ctrl-bg-hover);
}

@media only screen and (max-width: 768px) {
    .modal img {
        max-height: 80%;
        flex-basis: 100%;
    }
}

span #time-current {
    display: inline-block;
    width: 40px;
    text-align: right;
}

.timer-icon
{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: var(--url-icon-timer);
}

.fav
{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: var(--url-icon-favoff);
}

.on
{
    background-image: var(--url-icon-favon);
}

#copyButton {
  margin-left: 10px;
}

.pallet-container
{
    position: fixed;
    top: 70px;
    right: 10px;
    max-width: 200px;
}

.pallet-wrap
{
    display: flex;
    justify-content: flex-end;
}

.pallet-cell
{
    display: flex;
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: var(--clr-plt-text2);
    width: 150px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    justify-content: right;
    align-items: center;
    border: 2px solid var(--clr-plt-border2);
}

.pallet-cell.bright-text
{
    color: var(--clr-plt-text-bright) !important;

}

.pallet-save-btn, .pallet-remove-btn
{
    display: inline;
    margin: 3px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-color: var(--clr-plt-save-btn-bg);

}
.pallet-save-btn
{
    background-image: var(--url-icon-edit);
}
.pallet-remove-btn
{
    background-image: var(--url-icon-cross);
}

#pallet-frame
{
    width: 20px;
    height: 20px;
    position: absolute;
    border: 4px solid var(--clr-plt-frame);
    box-sizing: border-box;
    pointer-events: none;
}

.popup-row #tags a, .popup-row #tags a:visited, .popup-row #tags a:focus
{
    color: inherit;
    text-decoration: none;
}

.popup-row #tags a:hover
{
    color: inherit;
    text-decoration: underline;
}

#drop-target
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: calc(30vh);
    opacity: 0.8;
    z-index: var(--z-drop-target);
    background-color: var(--clr-gray3);
}

#drop-target #container
{
    width: 96%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2%;
    border: 4px black dashed;
    border-radius: 20px;
}

#drop-target span
{
    font-size: calc(10vw);
    font-family: Tahoma, sans-serif;
}

.fractured-colors
{
    position: fixed;
    /*top:50%;*/
    /*left:50%;*/
    width:100%;
    height: 100%;
    /*translate: -50% -50%;*/
    z-index: var(--z-fract);
    border: 2px black;
}

#fractured-colors-image
{

    /*width: 100%;*/
    /*height: 100%;*/
}