
:root {
    --z-tile: 0;
    --z-tile-bg: 1;
    --z-tile-link: 11;
    --z-tile-overlay: 10;
    --z-anchors: 1000;

    --anim-tile-hover: 0.2s ease;
}

/*#region Header*/

.ov-header
{
    min-height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 10px;
}

.ov-header h1
{
    font-size: 3rem;
}

.main-menu-flex ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu li {
    cursor: pointer;
}

.main-menu a
{
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
.main-menu a:hover
{
    text-decoration: none;
    color: rgba(230,230,230, 50%);
    background-color: rgba(50,50,50, 50%);
}

.secondary-menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--clr-tile-ov1-bg);
    z-index: var(--z-anchors);
}

.secondary-menu-flex {
    display: flex;
    align-items: center;
}

.secondary-menu li {
    font-size: 0.8rem;
    margin-right: 20px;
}

.secondary-menu a,
.secondary-menu a:hover,
.secondary-menu a:visited,
.secondary-menu a:visited:hover {
    color: var(--clr-text)
}

/*#endregion Header*/


/*#region Main*/

main.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 15px;
}

main h2 {
    font-size: 2rem;
    margin: 20px 0 10px;
}

main h2:nth-of-type(1) {
    margin-top: 0;
}

/*#endregion Main*/


/*#region Tile*/

.tile {
    position: relative;
    border-radius: 5px;
    overflow: clip;
    width: 200px;
    height: 300px;
    padding: 20px;
    z-index: var(--z-tile);
    border: 2px solid;
    border-color: rgba(0,0,0,0.0);
    transition: border-color var(--anim-tile-hover)
}
.tile:hover {
    border-color: rgba(0,0,0,0.5);
}

.tile-hidden {
    border: 2px dashed var(--clr-tile-hedden-border);
}

.tile .thumb-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    z-index: var(--z-tile-bg);

    filter: blur(0);
    transition: filter var(--anim-tile-hover);
}
.tile:hover .thumb-bg {
    filter: blur(2px);
}

.tile .overlay {
    opacity: 0.3;
    transition: opacity var(--anim-tile-hover);
}
.tile:hover .overlay {
    opacity: 1;
}


.tile .thumb-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0); /* Adjust the overlay background color and opacity as needed */
    transition: background-color var(--anim-tile-hover);
}
.tile:hover .thumb-bg::after {
    content: '';
    background-color: rgba(0,0,0,0.5);
}

.tile a {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: var(--z-tile-link);
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--clr-tile-ov1-text);
    z-index: var(--z-tile-overlay);
}

.overlay-flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.overlay h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.long-text-break {
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.overlay a {
    display: block;
    max-width: 100%;
    color: var(--clr-tile-ov1-text);
}

.overlay a:hover {
    text-decoration: underline;
}

/*#endregion Tile*/