<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'tpl_part_header.html' %}
    <link rel="stylesheet" href="/static/styles/crud.css">
    <title>Tags list</title>
</head>
<body>
<header class="header">
    <a class="back-btn no-decor btn-bg-blend" href="/">&lt;</a>
    <h1>Tags</h1>
</header>

<main class="container container-flex">
    <a id="add-tag-btn" href="#">+ Add Tag</a>
    <div>
        <form id="tag-form" class="hidden">
            <label for="tag">Tag:</label>
            <input type="hidden" id="id" name="id">
            <input type="text" id="tag" name="name" required>
            <label for="color">Color:</label>
            <select name="color_id" id="color">
                <option value="0">None</option>
            </select>
            <br>
            <input type="submit" value="Send">
            <button id="cancel">Cancel</button>
        </form>
    </div>
    <table id="tags-list" class="list">
        <tr>
            <th>ID</th>
            <th>Tag</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
    </table>
</main>

<template id="tpl-tag">
    <tr id="tag-">
        <td id="id">{# tag.id #}</td>
        <td id="name">{# tag.tag #}</td>
        <td id="color">{# tag.color_id #}</td>
        <td>
            <a id="update" class="edit" href="#">✎</a>
            <button id="delete" class="del">&cross;</button>
        </td>
    </tr>
</template>

<script type="importmap">
    {
        "imports":
        {
            "image_tools/": "/static/js/image_tools/",
            "vendors/": "/static/js/vendors/",
            "api": "/static/js/api.js"
        }
    }
</script>
<script type="module" src="/static/js/crud/tag.js"></script>
</body>
</html>